.recommend
  width 100%  
  padding-bottom 80px
  overflow hidden
  max-height 1050px
  .wrapper
    width 100%
    .recommendList
      width 100%
      &:nth-child(1)
        padding-top 20px
      .recommendItem
        width 100%