.selection
  position relative
  .selectionContainer
    position absolute
    width 750px
    padding-top 100px 
    .wrapper
      width 100%
      // padding 0 30px 
      box-sizing border-box
      .header
        width 100%
        margin-top 60px 
        font-size 32px
        color #333
        text-align center
        font-weight bold
      .change
        display flex
        justify-content space-between
        margin 30px 30px 0
        box-sizing border-box
        .link
          font-size 28px
          height 57px
          padding 5px 30px
          text-align center
          line-height 57px  
          color #333333
          background #f7f7f7
          &.actived
            background #ffe4af
            color #b0955f
            font-weight bold
      .content_wrapper
          width 100%
          box-sizing border-box
          padding 30px 10px 0  
          display flex
          column-count 2
          height auto
          .content_show
            box-sizing border-box  
            width 345px
            &:nth-child(1)
              margin-right 20px
    .things-container
      width 100%
      border-bottom 20px solid rgba(0,0,0,.05) 
      .things-wrapper
        width 4800px
        height 280px
        .things-slide
          text-align center
          display inline-block
          width 240px
          height 240px
          img 
            display inline-block
            width 240px
            height 240px
            border-radius 10px
    .header
      width 100%
      .top
        width 100%
        height 80px
        font-size 28px
        color #7f7f7f
        text-align center
        line-height 80px
      .bottom
        width 100%
        height 96px
        font-size 32px
        color #333
        text-align center
        line-height 96px