.categoryContainer
  width 100%
  height 330px
  padding-bottom 32px
  .wapper
    display flex
    flex-wrap wrap
    .item
      width 17%
      height 156px
      display flex
      align-items center
      flex-direction column
      box-sizing border-box
      margin 5px 10px
      justify-content space-between
      .img
        width 110px
        height 110px
        img 
          width 100%
          height 100%
      .text
        font-size 24px 
        color #333 