.home-swiper
  height 375px
  width 100%
  .home-wrapper
    .home-slide
        .img
          height 100%
          width 100%
  .swiper-pagination
    padding-bottom 20px
  .swiper-pagination-bullet
    width 40px
    height 4px 
    display inline-block
    background #ffffff
    opacity 0.4
    border-radius 2px
    margin-right 10px 
  .swiper-pagination-bullet-active
    opacity 1
    background #ffffff        